.banner-list{
	background: url(../images/banner-list.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.wrapp-breadcrumb{
	padding: 130px 0;
}
.wrapp-breadcrumb .page-title-list{
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.wrapp-breadcrumb .breadcrumb{
	margin-left: -15px;
}
.wrapp-breadcrumb .breadcrumb li{
	margin-left: 15px;
	color: #fff;
}
.wrapp-breadcrumb .breadcrumb li span{
	font-size: 10px;
}
.wrapp-breadcrumb .breadcrumb li.active a{
	color: #fad600;
}